<% if current_user().admin? %>
	<h1>All Plan My Parks Trips</h1>
	<%= render partial: 'trips_table', object: @all_trips %>

<% elsif current_user().customer? %>
	<h1>Your Trips</h1>

	<%= render partial: 'trips_table', object: @user_trips %>
<% end %>