<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th>Region</th>
      <th>Website</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'park_row', collection: parks_table %>
  </tbody>
</table>