<%= form_tag(output_path, method: "get") do %>

<h3>Select your region:</h3>
	<%= render partial: 'regions_dropdown_input', object: @regions_list %>
<br/><br/>
<h3>Select your activities (leave blank for all):</h3>
	<%= render partial: 'activities_checkbox_input', object: @activities_list %>
<br/><br/>
<%= submit_tag("Choose my park!") %>

<% end %>

<!-- This could eventually be a priority scale for the activities chosen <%#= f.range_field :score, :min=>0, :max=>10, :class=>"slide", :id=>"slider1"%> -->