<% if list_favorite_parks.parks.length > 0 %>
	<h3>Favorite parks:</h3>
	<ul>
	<% list_favorite_parks.parks.each do |park| %>
		<li><%= link_to park.name, park_path(park), target: '_blank' %></li>
	<% end %>
	</ul>
<% else %>
	<h3>No favorite parks yet...</h3>
	<% if list_favorite_parks == current_user() %>
		<%= link_to 'Find some!', planner_path %>
	<% end %>
<% end %>