<% if current_user() %>
	<h1>New User</h1>
<% else %>
	<h1>Create account</h1>
<% end %>
<br/>
<%= render partial: 'shared/display_errors', object: @user %>

<%= render partial: 'user_edit_form', object: @user %>

<% if current_user() and current_user().admin? %>
	<br/>
	<%= link_to 'Back', users_path %>
<% end %>