<tr>
	<td><%= gear_row.name %></td>
	<td><%= link_to 'Show', gear_row %></td>
	<td><%= link_to 'Edit', edit_gear_path(gear_row) %></td>
	<td><%= link_to 'Destroy', gear_row, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>