<h4>Select your activities <br/><small>...or leave blank for all</small></h4>
<%= form_tag(survey_what_output_path) do %>
<%= render partial: 'activities_checkbox_input', object: @activities %>
<%= submit_tag("Next") %>
<% end %>