<h1><%= @region.name %></h1>

<br/><br/>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'All Regions', regions_path %>

<br/><br/><br/><br/>
<ol>
	<%= render partial: 'list_states_parks', collection: @region.states %>
</ol>